<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="4" verbose="2" name="All Tests" annotations="JDK">
    <parameter name="headless" value="true"/>
    <parameter name="remote" value="true"/>
    <test name="AllTests">
        <classes>
            <class name="LoginTests"/>
            <class name="AddEmployeeTests"/>
            <class name="RemoveEmployeeTests"/>
        </classes>
    </test>

</suite>